#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 15px auto;
    padding: 2px;
    width: 300px;
}

#login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#login .form-group {
    margin-bottom: 10px;
}

#login .form-group label {
    display: block;
}

#login .form-group input {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: block;
    font-size: 14px;
    padding: 5px 10px;
    width: 93%;
}

#login .form-group input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

#login .btn-form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#login .btn-form-group [type="submit"] {
    text-align: center;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(8, 77, 102, 0.5);
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 6px 24px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

#login .btn-form-group [type="submit"]:hover {
    background-color: #22df42;
    transition: .3s;
}

#login .p-form {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;  
}