#login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px 450px;
}

#login-master {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(164, 90, 250, 0.8);
}

.login-titulo {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    padding-top: 5px;
}

.login-span {
    font-size: 15px;
    font-weight: bold;
    color: darkviolet;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 320px;
    margin-bottom: 20px;
}

.login-form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.login-form-group label {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}

.login-form-group input {
    width: 100%;
    height: 30px;
    border: 1px solid #470380;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #000;
}

.login-form-group input:focus {
    outline: none;
    border-color: rgb(189, 39, 235);
}

.login-form-group input::placeholder {
    color: #252424;
}

.login-p {
    font-size: 13px;
    font-weight: bold;
    color: red;
    margin-bottom: 20px;
}

.login-p-form {
    font-size: 13px;
    font-weight: bold;
    color: #0d6efd;
    margin: 20px;
}

.login-btn-form-group {
    width: 100%;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgb(88, 6, 182);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.login-btn-form-group:hover {
    background-color: #06d474;
    color: #000;
    
}