.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 393px;
    background-color: #f0f0f5;
}
.link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}