.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  height: 170px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.header__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.header__nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
    color:blueviolet;
    font-weight: 800;
    font-size: 20px;
}

.header__nav-link {
    text-decoration: none;
}

.header__nav-link:hover {
    color: #000;
}