.header {
  display: flex;
  padding: 0 20px;
  height: 150px;
  background-color: #fff;
  border-bottom: 1px solid #8d77ec;
}

.header-logo, img {
    display: flex;
    justify-content: center;;
    align-items: center;
    margin: 10px 50px;
}

.header__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header__nav-list{
    list-style: none;
    color:blueviolet;
    font-weight: 800;
    font-size: 20px;
}

.header__nav-link {
    text-decoration: none;
}

.header__nav-link:hover {
    color: #000;
}