.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px 350px;
}

.register-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(164, 90, 250, 0.8);
}

.register-nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    padding-bottom: 20px;
    width: 400px;
}

.register-nav-link button {
    display: block;
    width: 300px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgb(88, 6, 182);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin: 30px;
}

.register-nav-link button:hover {
    background-color: rgba(164, 90, 250, 0.8);
    color: #000;
    outline: none;
}

.register-nav-link button:active {
    background-color: rgba(164, 90, 250, 0.8);
    color: #000;
    outline: none;
    text-decoration: none;
}

.register-nav-link button:focus {
    background-color: #032b8041;
    color: #000;
    outline: none;
    text-decoration: none;
}

.register-nav-link a {
    color: #000;
    text-decoration: none;
}

.register-btn-logout {
    display: flex;
    flex-direction: initial;
    align-items: end
}

