.footer-container {
  display: flex;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  border-top: 1px solid #8d77ec;

}

.footer-container h6 {
  font-size: 14px;
  font-weight: 600;

}

.copy, .dev {
  display: flex;
  align-items: center;
  margin-left: 250px;
  margin-top: 20px;
}