.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  border-top: 1px solid #eaeaea;
}

.footer-logo {
  margin: 10px 0;
}